# =========================
# Misc
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.history/
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDE
# =========================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
**/doc/api/

# iOS Flutter generated
**/ios/Flutter/.last_build_id

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/**/key.properties
android/**/keystore.jks
/android/app/debug
/android/app/profile
/android/app/release

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# =========================
# Firebase / secrets
# =========================
.env
**/GoogleService-Info.plist
**/google-services.json
